@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
.header{
    width: 1440px;
    height: 1030px;
    border: 1px solid black;
    margin: 0 auto;
    background: url(img/d22ff646d9597e221db37f94dd885e91ab17052e.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 52px;    
    text-align: center;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    gap: 470px;
    align-items: center;
}
.nav ul li{
    font-size: 20px;
    font-weight: 700;
    color: #D5D5D6;
}
.steam{
    background-color: #009FF5B5;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px #DAD3FF;
}
.btn{
    width: 605px;
    height: 105px;
    background-color: #FFC611;
    border: 11px solid #5A5555;
    border-radius: 50px;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}
.ogl{
    width: 100%;
    align-items: center;
    margin-top: 160px;
    padding-left: 450px;
    display: flex;
    gap: 50px;
}
.rsm{
    width: 50px;
    height: 50px;  
}
.kartocki{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 52px;
    margin-top: 132px;
}
.card{
    width: 361px;
    height: 420px;
    background-color: #1F1F1F;
    box-shadow: 8px 7px 20px 0px #FFFFFF;
}.card p{
    align-items: center;
    color: #000000;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0px 4px 4px #FFC200;
    text-align: center;
}
.info{
     width: 1440px;
    height: 1030px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #000000;
}
.info h2{
    margin-top: 61px;
    color: #5A5555;
    font-size: 64px;
    font-weight: 600;
    text-shadow: 0px 4px 4px #FFFFFF;
    text-align: center;
}
.dada{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 52px;
    gap: 87px;
    margin-top: 58px;
}
.dada p{
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 600;
    line-height: 100%;
}
.dada button{
    width: 280px;
    height: 60px;
    background-color: #FFC200;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
    font-size: 27px;
    font-weight: 700;
    margin-top: 97px;
    border: none;
}
.dada button:active{
    color: #FFFFFF;
    background-color: #535353;
}
.dadada{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 52px;
    gap: 87px;
    margin-top: 170px;
}
.dadada p{
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 600;
    line-height: 100%;
}
.dadada button{
    width: 280px;
    height: 60px;
    background-color: #FFC200;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
    font-size: 27px;
    font-weight: 700;
    margin-top: 97px;
    border: none;
}
.dadada button:active{
    color: #FFFFFF;
    background-color: #535353;
}
.padval{
    width: 1440px;
    margin: 0 auto;
    height: 158px;
    background-color: #FFC611;
    display: flex;
    justify-content: space-between;
    padding: 0 52PX;
    align-items: center; 
}
.insta{
    display: flex;
    gap: 42px;
}